@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.gg-announcement {
  width: 100%;
}

.gg-announcement__bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: #F5F5F5;
}

.gg-announcement__msg{
  font-family: 'Jost', sans-serif;
}

.gg-btn{
  text-decoration: none;
}