@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lustria&display=swap');

.product-grid-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.heading-grid{
    font-family: "Lustria", serif;
    font-size: 36px;
    letter-spacing: 0px;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}