@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.gg-announcement {
  width: 100%;
  height: fit-content;
}

.gg-announcement__bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 8px 20px;
  background: #F5F5F5;
}

.gg-announcement__msg{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  color: #000000;
}

.gg-btn{
  padding: 8px 20px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  border: none;
  background-color: #FFF554;
  color: #000000;
  transition: all 0.4s linear;
}

.gg-btn:hover{
  background-color: #000000;
  color: #FFFFFF;
}

.gg-btn::before{
  content: "";
}


